@import "functions";

$font-base: 'Montserrat', sans-serif;

//--------------------------------------
// Primary Colors
//--------------------------------------

$color-dark: #111;
$color-black: #000000;

$color-white: #fff;
$color-gray: #F1F1F1;

$color-gray-dark: #373939;
$color-gray-dark2: #49484C;
$color-gray-dark3: #97999b;

$color-gray-light: #666666;
$color-gray-light2: #DDDDDD;
$color-gray-light3: #E3E3E3;
$color-orange: #FE7C00;
$color-orange-dark: #e06d00;

$color-green-dark: #67a932;

//--------------------------------------
// Main colors
//--------------------------------------



//--------------------------------------
// Metrics
//--------------------------------------


$color-green: green;
$color-white: white;
$color-red: red;
$color-orange: orange;

$button-bg-color: $color-orange;

$text-body: typo(24px, 35px, 400);

h1 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
}
h2 {
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
}